In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Loading the dataset for New York listings and displaying the first few rows
NY_listing_data = pd.read_csv('../data/NY-NY-listings.csv')
NY_listing_data.head(0)

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365, number_of_reviews_ltm, license]
Index: []

In [ ]:
NN_NY_listing_data = NY_listing_data.dropna(subset = ['price'], axis=0,).drop(columns=['host_name', 'license'])
#removing rows with missing values in 'price' and dropping 'host_name' and 'license' columns as they are not needed for analysis

In [59]:
NN_NY_listing_data[['number_of_reviews', 'reviews_per_month','last_review']] = NN_NY_listing_data[['number_of_reviews', 'reviews_per_month','last_review']].fillna(0)

In [ ]:
NN_NY_listing_data.head(5)  # Displaying the first five rows of the cleaned dataset

In [ ]:
null_counts = NN_NY_listing_data.isnull().sum()
print(null_counts)
#checking for any remaining null values in the dataset, should return 0 for all columns

id                                0
name                              0
host_id                           0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
number_of_reviews_ltm             0
dtype: int64

In [ ]:
# #using scatter plot to visualize any outliers in the price column for first 15 rows
# # Select the first 15 rows for plotting
# first_15 = NN_NY_listing_data.head(20)

# plt.figure(figsize=(10, 6))
# plt.scatter(first_15.index, first_15['price'], color='blue', alpha=0.7)
# plt.title('Scatter Plot of Price for First 15 Rows')
# plt.xlabel('Index')
# plt.ylabel('Price')
# plt.grid(True)
# plt.show()

# #scatter plot is not helpful, using a different technique to find outliers

In [122]:
#need to check for outlier indices in the price column
outlier_indices = NN_NY_listing_data[NN_NY_listing_data['price'] > 10000].index
print("Indices of outliers in the price column:", outlier_indices.tolist())

Indices of outliers in the price column: [23864, 23865, 23866, 23962, 23965, 23984, 24026, 24037, 24038, 24039, 24040, 24041, 24142, 24143, 24144, 24145, 24147, 24148, 24161, 24181, 24676, 25205, 25206, 25208, 25211, 25212, 25419, 25420, 26327, 26833, 26834, 26835, 27220, 27221, 28687, 29089, 29090, 29091, 29110, 29170, 29173, 29174, 29196, 29197, 29198, 29214, 29215, 29217, 29219, 29268, 29282, 29283, 29284, 29466, 29727, 29749, 29751, 29752, 29868, 29869, 29961, 30167, 30168, 30170, 30171, 30172, 30173, 30174, 30175, 30177, 30181, 30182, 30183, 30185, 30186, 30187, 30188, 30190, 30192, 30193, 30194, 30198, 30199, 30200, 30201, 30258, 30259, 30260, 30262, 30263, 30264, 30265, 30266, 30278, 30279, 30450, 30451, 30452, 30612, 30613, 30614, 30615, 30623, 30624, 30625, 30630, 30631, 30632, 30634, 30635, 30636, 30637, 30638, 30643, 30644, 30900, 31019, 31245, 31246, 31248, 31396, 31398, 32549, 32550, 32552, 32572, 32573, 33101, 33135, 35045, 35046, 35048, 35049, 35050, 35051, 35368, 35369, 35371, 35462, 35463, 35464, 35465, 35526, 35527, 35529, 35530, 35531, 35738, 35741, 36064, 36069, 36070, 36071, 36072]

In [ ]:
# NN_NY_listing_data.loc[[23864]]  # Displaying the row with index 213 to check the outlier details

In [ ]:
# NN_NY_listing_data.loc[[23865]]

In [ ]:
# sus_host =  NN_NY_listing_data[NN_NY_listing_data['host_id'] == 25138314].index
# print("Indices of sus host listings :", sus_host.tolist())

Indices of sus host listings : [23106, 23125, 23126, 23864, 23865, 23866, 23962, 23963, 23965, 23966, 23982, 23984, 23986, 23987, 24026, 24037, 24038, 24039, 24040, 24041, 24141, 24142, 24143, 24144, 24145, 24147, 24148, 24181]

In [ ]:
# diff_b_a = list(set(sus_host.tolist()) - set(outlier_indices.tolist()))
# print(f"Elements in B but not A: {diff_b_a}")

Elements in B but not A: [23106, 24141, 23982, 23986, 23987, 23125, 23126, 23963, 23966]

In [ ]:
# NN_NY_listing_data.loc[[23106]]

In [123]:
outlier_list= outlier_indices.tolist()

In [124]:
new_outlier_list=outlier_list.copy()  # Creating a copy of the outlier list to modify it later

In [ ]:
# for i in outlier_list:
#     interested_row = NN_NY_listing_data.loc[[i]]
#     print(f"\n{interested_row}\n")
# # Displaying the row with index 23864 to check the outlier details

In [125]:
#checking outliers in outlier list with reviews greater than zero
non_outlier_list = [i for i in outlier_list if NN_NY_listing_data.loc[i, 'number_of_reviews'] > 0]
print("Outliers with reviews greater than zero:", non_outlier_list)

Outliers with reviews greater than zero: [24040, 24143, 25205, 25211, 25419, 29219, 29961, 30200, 30201, 30900, 31396, 31398]

In [ ]:
# for i in non_outlier_list:
#     non_interested_row = NN_NY_listing_data.loc[[i]]
#     print(f"\n{non_interested_row}\n")

In [ ]:
for i in outlier_list:
    if i in non_outlier_list:
        new_outlier_list.remove(i)
    else:
        print(f"Index {i} is not in non_outlier_list, so it remains in new_outlier_list.")

In [ ]:
# outlier_list[:35]

In [ ]:
# new_outlier_list[:35]  # Displaying the first five elements of the new outlier list to verify the changes

In [ ]:
# non_outlier_list[:20]  # Displaying the first five elements of the non-outlier list to verify the changes

In [129]:
#now will remove the rows with indices in new_outlier_list from NN_NY_listing_data
NN_NY_listing_data = NN_NY_listing_data.drop(index=new_outlier_list)

In [ ]:
#checking if the outliers have been removed

test_outlier_indices = NN_NY_listing_data[
    (NN_NY_listing_data['price'] > 10000) & 
    (NN_NY_listing_data['number_of_reviews'] == 0)
].index

print("Indices of outliers in the price column:", test_outlier_indices.tolist())

Indices of outliers in the price column: []

In [ ]:
low_cutoff = NN_NY_listing_data['price'].quantile(0.01)
print(f"1st percentile price: ${low_cutoff:.2f}")
high_cutoff = NN_NY_listing_data['price'].quantile(0.99)
print(f"99th percentile price: ${high_cutoff:.2f}")

#finding the low cutoff and confirming the high cutoff we used was correct

1st percentile price: $37.00
99th percentile price: $1274.36

In [140]:
low_outlier_indices = NN_NY_listing_data[(NN_NY_listing_data['price'] <= low_cutoff) & (NN_NY_listing_data['number_of_reviews'] == 0)].index
print("Indices of low outliers in the price column:", low_outlier_indices.tolist())

Indices of low outliers in the price column: [16535, 17330, 17537, 18071, 20264, 23332, 23338, 24970, 24972, 24974, 25141, 25392, 25409, 25710, 25725, 25996, 26408, 26409, 26410, 26411, 26427, 26430, 26568, 26806, 26908, 27209, 27738, 28187, 28200, 29326, 29432, 29447, 30030, 30282, 30284, 30288, 30291, 30294, 31268, 32691, 32990, 33081, 33289, 33497, 33561, 33568, 33686, 33803, 34076, 34376, 34452, 34667, 34673, 34686, 34722, 34723, 34807, 34875, 34886, 34998, 35031, 35094, 35150, 35194, 35252, 35278, 35290, 35292, 35472, 35565, 35567, 35615, 35655, 35724, 35841, 35842, 35843, 35856, 35949, 36007, 36036, 36045, 36048, 36054, 36147, 36158, 36160, 36212, 36214, 36215, 36238, 36250, 36291, 36314]

In [141]:
NN_NY_listing_data = NN_NY_listing_data.drop(index=low_outlier_indices)

In [ ]:
low_outlier_indices = NN_NY_listing_data[(NN_NY_listing_data['price'] <= low_cutoff) & (NN_NY_listing_data['number_of_reviews'] == 0)].index
print("Indices of low outliers in the price column:", low_outlier_indices.tolist())

#checking all the outliers have been removed

Indices of low outliers in the price column: []